.container {
    
    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
    border-radius: 16px;
    background: #FFFFFF;


    display: flex;
    align-items: center;
    flex-direction: column;

    justify-content: center;

}

.table {
    margin-top: 144px;
    background-color: #FFFFFF;
    align-items: flex-start;
    padding: 32px;
    padding-bottom: 44px;
    gap: 24px;
    border-radius: 40px;
    margin-top: 144px;
    margin-bottom: 80px;


}

.subj {
    margin-top: 124px;
    margin-left: 40px;
    margin-right: 89px;

    padding: 24px;
    align-items: flex-start;
    gap: 12px;

    max-width: 452px;
    width: 452px;



}


.time_container {
    box-shadow: none;
    border: none;
    background-color: #EDEDED;
    width: 139px;
    height: 88px; 
    
}

.game_field {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: min(0.6%, 4px);
    background-color: transparent;

}

.game_step {
    padding: 12px 0;
    padding-left: min(15%, 69px);
    padding-right: min(15%, 69px);
    flex-direction: row;
    gap: 12px;
    letter-spacing: 0.15px;
    font-size: 20px;
    color: #FFFFFF;
    background-color: var(--dark-gray);

    min-width: min(50%, 400px);
}

.game_step img {
    width: 24px;
    height: 24px;
}

.message {
    width: 100%;
    padding: 12px;
    
    align-items: flex-start;
    background-color: #fff;

}
