.wrap_o {
    width: 100%;
    max-width: 100%;
    display: flex;
    align-self: flex-end;
    justify-content: flex-end;
}

.wrap_o > div:first-child {
    margin-left: 60px;
}

.wrap_x {
    width: 100%;
    max-width: 100%;
    display: flex;
    align-self: flex-start;
    justify-content: flex-start;
}

.wrap_x > div:first-child {
    margin-right: 60px;
}


.name_container {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding-bottom: 8px;
}



.time {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    letter-spacing: 0.25px;


    color: var(--light-gray);
}