
h1 {
    font-weight: 700;
    font-size: 24px;
    margin-top: 8px;
    margin-bottom: 0;
}


.cell {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 0px;
    gap: 16px;

    width: 962px;
    height: 48px;

/* Gray / White */

    color: var(--dark-gray);
    background: #FFFFFF;
/* Border / Bottom */

    box-shadow: inset 0px -1px 0px #EEEFF5;
}

.first {
    font-weight: 500;
}

.fio {
    width: 440px;
}

.total {
    width: 108px;
}

.Winrate {
    width: 134px;
}

.wins {
    color: #69B849;
    width: 108px;
}

.loses {
    color: #E93E3E;
    width: 108px;
}