.page {
   display: flex;
   justify-content: center;
   align-items: center;
}

.field {
   align-items: stretch;
   min-height: 100vh;
   justify-content: space-between;
}


.subj_wrap_page {
   width:  calc(100% / 3 );

   justify-content: flex-start;
   align-items: flex-start;
}


.field_wrap_page {
   width:  28%;
   display: flex;
   flex-direction: column;
}

.chat_wrap {
   width:  calc(100% / 3 );
   height: 100%;
   align-self: flex-end;
   justify-content: flex-end;
}

.chat {
   height: 100%;

   justify-content: flex-end;
   align-items: start;
   flex-direction: column;

   margin-bottom: min(15% ,165px);
   margin-right: 40px;
   margin-left: min(15%, 176px);
   gap: 12px;


}

.messages {
   gap: 12px;
   width: 100%;
   max-height: 500px;

   display:grid;
   align-items: start;
   flex-direction: column;

   justify-content: flex-end;

   overflow-y: auto;
}

/* Скрываем scrollbar для Chrome, Safari и Opera */
.messages::-webkit-scrollbar {
   display: none;
 }
  
 /* Скрываем scrollbar для IE, Edge и Firefox */
 .messages {
   -ms-overflow-style: none;  /* IE и Edge */
   scrollbar-width: none;  /* Firefox */
 }
