.page {
    display: flex;
    background: #E5E5E5;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.dog {
    width: 132px;
    height: 132px;
    margin-top: 40px;



    flex: none;
    order: 0;
    flex-grow: 0;
}



.auth_cont {
    display: flex;
    background: #FFFFFF;
    flex-direction: column;
    margin: 6px 20px;
}

.incorrect {
    border: 1px solid #E93E3E;
}


.redText {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 16px;
    font-size: 12px;

    letter-spacing: 0.25px;
    color: #E93E3E;
}