.row{
    width: 100%;


    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.row:first-child {
    margin-bottom: 24px;
    height: 36px;
}

.row:not(:first-child) {
    height: 72px;
}