.cell {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 4px 0px;
    gap: 16px;

    

    height: 48px;

    color: var(--dark-gray);
    background: #FFFFFF;

    box-shadow: inset 0px -1px 0px #EEEFF5;
}

.cell > td {
    padding: 8px;
}

.cell > td.center {
    display: flex;
    justify-content: center;
}

.cell:first-child > td {
    display: flex;
    align-items: center;
    height: 40px;
    font-weight: 500;
}