.status {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 4px 12px;
    gap: 4px;

    width: 100px;
    height: 32px;

    background: #A8D37F;
    border-radius: 6px;
}

.active {
    background: #87CAE8;
}

.blocked {
    background: #EC7777;
}