.myModal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
    background: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}

.myModal.active {
    display: flex;
}

.modal_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.close_row {
    width: 100%;
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}

.img {
    cursor: pointer;
    height: 24px;
    width: 24px;

    border-radius: 1000px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.img:hover {
    background-color: var(--light-gray);
}

/* 
.close:before, .close:after {
    content: "";
    display: flex;
    width: 15px;
    height: 3px;

    background-color:  #373745;
    border-radius: 1000px;
}

.close::before {
    transform: rotate(45deg);
}

.close::after {
    transform: translateY(-6px);
    transform: rotate(-45deg);
} */

/* .close:hover:before, .close:after:hover {
    background-color: var(--red);
} */

.inp_set {
    display: flex;
    flex-direction: column;
    gap: 8px;

}

.inp_set > .row {
    gap: 8px;
}

.row {
    width: 100%;
    gap: 40px;
    display: flex;
    flex-direction: row;
}



.radio_form {
    position: relative;
	margin-bottom: 10px;
}

.radio_form img {
    cursor: pointer;
    width: 32px;
    height: 32px;
    position: absolute;
    top: calc(50% - 32px/2);
    right: calc(50% - 32px/2);
}

.radio_form input[type=radio] {
	display: none;
}

.radio_form label {
	user-select: none;
}

.radio_form label:before {
    cursor: pointer;
    content: "";
	display: flex;

    width: 48px;
    height: 48px;

    border: 1px solid #DCDCDF;
    border-radius: 1000px;
}
 
/* Checked */
.radio_form input[type=radio]:checked + label:before {
    background: #60C2AA;

}


/* Hover */
.radio_form label:hover:before {
    border: 1px solid #60C2AA;
}
 
/* Disabled */
/* .radio_form input[type=radio]:disabled + label:before {

} */