:root {
    --dark-gray: #373745;
    --gray: #454545; 
    --light-gray: #898993;
    --green: #60C2AA;
    --red: #E38BAC;
    --white: #ffffff;
    --bg-color: rgba(246, 246, 246, 1);

    scrollbar-color: red;

}

a:active, 
a:hover,  
a {
  text-decoration: none;
  color: var(--dark-gray);
}

body {
    margin: 0;
    background: #E5E5E5;
}

body::-webkit-scrollbar-track {
    background: orange;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: blue;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid orange;  /* creates padding around scroll thumb */
}

* {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

}

table {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

}
