.btn_login {    
    cursor: pointer;
    width: 352px;
    height: 48px;
    margin-top: 12px;
    margin-bottom: 40px;

    background: var(--green);
    border-radius: 12px;
    border: 0px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;

    color: #FFFFFF;
    
}

.btn_login:hover {
    background: #3BA189;
}

.btn_login:active {
    background: #34685b;
}

.btn_login[disabled] {
    cursor:default;
    background: rgba(96, 194, 170, 0.3);
}

.btn_white {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    gap: 8px;

    font-weight: 500;

    background: #F7F7F7;
    border-radius: 8px; 
    border: none;
}

.btn_white:hover {
    background: #DCDCDF;
}

.btn_white:active {
    background: #bababc;
}

.btn_mini {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 11px;
    gap: 8px;

    width: 48px;
    height: 48px;

    border: none;
    background: var(--green);
    border-radius: 12px;   
}

.btn_mini:hover {
    background-color: #3BA189;
}

.btn_mini:active {
    background-color: #34685b;
}
