.label {
    position:static;
    
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;

    color: var(--dark-gray);
}

.main_label {
    height: 36px;
    margin-top: 20px;
    margin-bottom: 12px;
    text-align: center;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.gamer_container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;

    min-height: 48px;
    
}

.imgDiv img {
    width: 24px;
    height: 24px;
}

.name {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;

    color: var(--dark-gray);
}

.chat_name {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    letter-spacing: 0.25px;
}

.mini {

font-weight: 400;
font-size: 14px;
line-height: 20px;

letter-spacing: 0.25px;


color: var(--light-gray);
}

.time_label {
    font-weight: 900;
    font-size: 34px;
    line-height: 40px;
    color: var(--dark-gray);
}