.switch {
    cursor: pointer;
    position: relative;
    width: 36px;
    height: 24px;
    margin-top: 2px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.track {
    position: absolute;
    height: 14px;
    left: 3px;
    right: 0px;
    top: calc(50% - 14px/2);
    

    border-radius: 10px;

    background-color: #DCDCDF;

    -webkit-transition: .4s;
    transition: .4s;
}

.track::before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    top: calc(50% - 20px/2);
    top: -4px;
    left: -3px;

    background-color: #F7F7F7;
    border: 1px solid rgba(137, 137, 147, 0.2);

    -webkit-transition: .4s;
    transition: .4s;

    border-radius: 20px;
}

input:checked + .track {
    background-color: #60C2AA;
}

input:focus + .track {
    box-shadow: 0 0 1px #60C2AA;
}

input:checked + .track:before {
    transform: translateX(calc(100% - 3px));
    background-color: #3BA189;
}

