
.auth {
    box-sizing: border-box;

    padding: 12px 20px;
    height: 48px;
    border: 1px solid #DCDCDF;
    border-radius: 12px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #373745;

}



.auth:hover {
    border: 1px solid #60C2AA;   
}
.auth:focus {
    outline: 1px solid #3BA189;   
}

.auth::placeholder {
    color: #B1B1B7;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.auth:focus::placeholder {
    color: transparent;
}