
.subj_container > div:first-child {
    margin-bottom: 12px;
}

.time_wrap {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: min(6%, 40px);
}

.field_wrap {   
    width: min(100%, 663px);
    height: 61%;
    max-width: 663px;
    max-height: 663px;
}

.game_step_wrap {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: min(8%, 40px);
}

.game_field_container {
    min-height: 100vh;


    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}

.time_container {
    box-shadow: none;
    border: none;
    background-color: #EDEDED;
    width: 139px;
    height: 88px; 
    
    margin-bottom: 40px;
}

.time_label {
    font-weight: 900;
    font-size: 34px;
    line-height: 40px;
    color: var(--dark-gray);
}


.row {
    width: calc(100% /3);
    height: 100%;
    gap: min(0.5%, 4px);
    display: flex;
    flex-direction: column;
}

.cell {
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: calc(100% / 3);

    background-color: #FFFFFF;
    border-radius: 12px;


}

.cell:hover {
    background-color: #f0f0f0;
}

.cell img {
    width: 90%;
    height: 90%;
}

.cell.oWin {
    background-color: #F3BBD0;
}

.cell.xWin {
    background-color: #CFEDE6;
}

.messageO {
    width: 100%;
}

.messageX {
    width: 100%
}





.input_container {
    gap: 12px
}