header {
    position: fixed;
    width: 100%;
    height: 64px;
    left: 0;
    top: 0;

    /* Gray / White */

    background: var(--white);
    /* Elevation/Lv1 */

    box-shadow: 0px 2px 6px rgba(44, 57, 121, 0.1);
    border-radius: 0px 0px 16px 16px;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    z-index: 1;
}

.logo {
    display: flex;
    margin-left: 40px;
    align-items: center;
}

.nav_panel {
    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 16px;
    margin-left: 40px;

    height: 16px;
    



    /* Inside auto layout */

    flex: none;
    flex-grow: 0;
}

.nav_panel div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 16px;
    gap: 10px;

    /* Inside auto layout */

    flex: none;
    flex-grow: 0;

    /* Body / 16px medium */

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    /* identical to box height, or 150% */

    letter-spacing: 0.24px;

    /* Gray / 700 */
    color: var(--dark-gray);
}

.nav_panel .active {
    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 12px;
    gap: 10px;

    background: var(--green);
    border-radius: 200px;
    color: var(--white);

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.nav_c:hover {
    cursor: pointer;
    background: #EDEDED;
    border-radius: 200px;
}
.active:hover {
    cursor: pointer;
    background: #3BA189;
    border-radius: 200px;
}

.exitBtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px;
    margin-right: 40px;
    margin-left: 35px;
    gap: 10px;

    width: 32px;
    height: 32px;

    border-radius: 1000px;


    flex: none;
    order: 2;
    flex-grow: 0;

    background: none;
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}



