.cell {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 0px;
    gap: 16px;

    

    width: 962px;
    height: 48px;

    color: var(--dark-gray);
    background: #FFFFFF;

    box-shadow: inset 0px -1px 0px #EEEFF5;
}

.cell:first-child > td {
    font-weight: 500;
}

.cell > td:nth-child(1) {
    width: 678px;
    gap:12px;
    display: flex;
    flex-direction: row;
}

.cell > td:nth-child(2) {
    width: 160px;
}

.cell > td:nth-child(3) {
    width: 140px;
}

.img {
    width: 16px;
    height: 16px;
}

.person {
    gap: 8px;
    display: flex;
    align-items: center;
}